<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Intro SE331</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/styles.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div id="app">
        <div class="nav-bar"></div>
        <div class="cart">cart ({{ cartDisplay }})</div>
        <product-display :premium="premium" @add-to-cart="updateCart" @remove-from-cart="removeFromCart"></product-display>
        <p v-if="onSale">{{ brand + ' ' + product + ' is on sale' }}</p> 
            <p v-else>Not on Sale</p>
            <button class="button" @click="StockStatus">In Stock</button> <!-- 6.7 -->
            <p>{{ description }}</p> <!-- 2.5 -->
            <!--5.5-->
            <p>Sizes: <span v-for="size in sizes" :key="size">{{ size }}</span> </p>

        </div>
        </div>

        </div>
    </div>

    <!-- Import Js -->
    <script src="./components/ProductDisplay.js"></script>
    <script src="./main.js"></script>
</body>

</html>